<div class="sidebar" theme=light>
  <a class="infosite" (click)="acceuil ()">
    <img src="../assets/sky_seer_logo.png" alt="logo" width="30" height="30">
    {{title}}
  </a>
  <a class="element" (click)="humidite ()">humidité</a>
  <a class="element" (click)="temperature ()">température</a>
  <!--<button #testUI class="element" (click)="testui ()">test UI</button>-->
</div>

<div class="content">
  <div #acceuil *ngIf="app == 0">
    <app-acceuil></app-acceuil>
  </div>
  <div #temperature *ngIf="app == 1">
    <app-temperature></app-temperature>
  </div>
  <div #humidite *ngIf="app == 2">
    <app-humidite></app-humidite>
  </div>
  <div #testUI *ngIf="app == 3">
    <app-testui></app-testui>
  </div>
</div>
