<div class="sksNavbar">
  <div class="sksBrand">
    <h2>Skyseer</h2>
  </div>

  <nav>
    <ul>
      <li>
        <a class="actif" routerLink="/dashboard" routerLinkActive="active">
          <span class="material-icons material-icons-outlined">
            equalizer
          </span>
          Overview
        </a>
      </li>
      <li>
        <a class="" routerLink="/dashboard" routerLinkActive="active">
          <span class="material-icons material-icons-outlined">
            travel_explore
          </span>
          Localization
        </a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>